torch==2.1.2
numpy==1.26.3
pandas==2.1.4
tqdm==4.66.1
transformers==4.37.0.dev0
peft==0.5.0
huggingface_hub==0.20.2

# https://developer.nvidia.com/downloads/compute/cudnn/secure/8.9.7/local_installers/11.x/cudnn-local-repo-ubuntu2204-8.9.7.29_1.0-1_amd64.deb/
